.dark_mode {
    display: flex;
    align-items: center;
}

.theme_button {
    color: var(--font_color);
    display: flex;
    align-items: center;
    padding: 10px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 140px;
}

.icon_lua {
    width: 18px; 
    height: 18px;
    margin-right: 5%;
}

.icon_sol {
    width: 20px; 
    height: 20px;
    margin-right: 5%;
}

@media (max-width: 680px) {
    .theme_button span {
        display: none;
    }

    .theme_button {
        width: 50px;
    }
}