.search_navbar{

}

.detail1 {
    color: #419E98;
    font-weight: bold;
    font-size: 15px;
}
.detail2 {
    color: #00A4FD;
    font-weight: bold;
    font-size: 15px;
}
.detail3 {
    color: #007BC0;
    font-weight: bold;
    font-size: 15px;
}