.container {
  display: flex;
  height: 100vh;
}

.left_side, .right_side {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left_side {
  background-color: white;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content_left_side {
  width: 60%;
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.content_left_side_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.title_welcome {
  margin-bottom: 7px;
  font-size: 2vw;
  font-family: "SF Pro Semibold";
  margin-bottom: 3%;
}

.subtitle_welcome {
  font-size: 1.3vw;
  font-family: "SF Pro Regular";
  color: #7e7e7e;
}

.content_right_side {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
}

.right_side {
  background: linear-gradient(to right, #00A4FD, #A1DFDB);
  color: white;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right_side img {
  width: 95%;
}

.content_names_sector {
  display: flex;
  font-family: "SF Pro Medium";
  text-align: center;
  margin-right: 30px;
  margin-top: 10px;
  height: 10%;
  font-size: 1vw;
}

.content_img {
  display: flex;
  justify-content: flex-end;
  height: 90%;
  margin-right: 2%;
}

.login_button {
  margin-top: 25px;
  width: 80%;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: #01A4FD;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 9px;
}

.login_button:hover {
  background-color: #0079bb;
}

.bosch {
  width: 90px;
  height: 50px;
}

.header_left {
  display: flex;
  align-items: flex-start;
  margin-left: 7px;
  height: 8%;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 50px;
  margin-right: 10px;
}

.title {
  font-size: 1.6vw;
}

.footer_left {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: flex-start;
  align-items: end;
  margin-left: 10px;
}

.subtitle {
  font-size: 1.2vw;
  font-family: "SF Pro Light";
  color: #BEBEBE;
}

.vertical_line {
  width: 2px;
  height: 30px;
  background-color: #D8D8D8;
  margin: 15px;
}

.ct_sector {
  bottom: 0;
  right: 0;
  margin: 10px;
  margin-top: 6px;
}

.ct_sector p {
  font-weight: bold;
}

.footer_right_side {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: flex-start;
  align-items: end;
  margin-left: 10px;
}

@media (max-width: 915px){

    .left_side {
      padding: 5px;
      width: 45%;
    }

    .title {
      font-size: calc(1vw + 0.5em);
    }

    .subtitle {
      font-size: calc(1vw + 0.25em);
    }

    .title_welcome {
      font-size: calc(1vw + 0.8em);
    }

    .subtitle_welcome {
      font-size: calc(1vw + 0.4em);
    }

    .login_button {
      width: 80%;
      height: 35px;
    }

    .content_names_sector p, .footer_right_side {
      font-size: calc(1vw + 0.4em);
    }
}

@media (max-width: 680px){
  .container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
  }

  .left_side, .right_side {
    width: 90%;
  }

  .right_side {
    margin-top: 15px;
    border-radius: 10px;
    height: 60vh;
    padding: 5px 0px;
  }

  .left_side {
    height: 35vh;
    width: 100%;
  }

  .title {
    font-size: calc(1.5vw + 0.5em);
  }

  .vertical_line, .subtitle {
    display: none;
  }

  .footer_left {
    display: none;
  }

  .content_left_side {
    width: 60%;
  }

  .header_left {
    width: 100%;
  }

  .content_left_side_main {
    width: 100%;
  }

  .title_welcome {
    font-size: calc(1vw + 1em);
  }

  .subtitle_welcome {
    font-size: calc(1vw + 0.6em);
  }

  .content_names_sector p, .footer_right_side {
    font-size: calc(1vw + 1em);
  }

  .login_button {
    width: 80%;
    height: 30px;
    border-radius: 5px;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 13px;
  }
}
