.customHotTable {
    font-size: 1rem;
}

.customHotTable .handsontable td,
.customHotTable .handsontable th {
    font-size: 1.2rem;
    
}

.customHotTable .lightGreen {
    background-color: var(--table_header);
    color: white;
    font-size: 1.1rem;
}
  
.errorMessage{
    color: var(--font_color);
}