:global(.customHotTable) {
    font-size: 1rem;
    z-index: 3;
}

:global(.customHotTable .handsontable td),
:global(.customHotTable .handsontable th) {
    font-size: 1.2rem;
}

:global(.handsontable .relative) {
    position: relative;
    background-color: #052889 !important;
    color: white !important;
}

.errorMessage {
    color: var(--font_color);
}
