.title {
    font-size: 1.4vw;
    font-family: "SF Pro Medium";
    padding: 1.3vh;
}

.content_weather { 
    display: inline-flex;
    gap: 3px;
}

.weekday {
    min-width: 7vw;
    border: 1px solid #eaeaea;
    border-radius: 7px;
    box-sizing: border-box;
}

.seg, .ter, .qua, .qui, .sex {
    border-radius: 7px;
    color: white;
    padding: 10px;
}

.seg { background-color: #D543CB; }
.ter { background-color: #00A4FD; }
.qua { background-color: #419E98; }
.qui { background-color: #37A264; }
.sex { background-color: #007BC0; }

.title_weekday {
    font-size: 1vw;
    font-family: "SF Pro Light";
}

.temperature {
    font-weight: bold;
    padding: 5px 0px;
    font-size: 1.5vw;
    font-family: "SF Pro Medium";
}

.climate {
    font-size: 0.8vw;
    text-align: end;
    align-self: flex-end;
}

@media (max-width: 1180px) {
    .weekday {
        min-width: 10vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .content_weather { 
        height: 85%;
    }

    .title_weekday {
        font-size: 18px;
    }

    .temperature {
        font-size: 23px;
    }

    .climate {
        font-size: 10px;
    }

    .title {
        font-size: 20px;
    }
}

@media (max-width: 680px) {

    .content_weather { 
        display: flex;
        flex-direction: row;
        gap: 3px;
        overflow-x: scroll;
        width: 100vw;
        scrollbar-width: none;
    }

    .content_weather::-webkit-scrollbar {
        display: none;
    }

    .weekday {
        flex: 0 0 auto;
        width: 140px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .title {
        font-size: 20px;
    }
}
