.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 20px 70px;
    color: var(--font_color);
}

.iniciarcoleta{
    margin-top: 2%;
    width: 25%;
    height: 9%;
    background-color: #01A4FD;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.data_color {
    color: #D543CB;
}

.iniciarcoleta p{
    font-size: 1rem;
    color: white;
}

.title,
.text {
    font-size: 1.4vw;
    font-family: "SF Pro Medium";
    text-align: start;
}

.main_content {
    display: flex;
    width: 100%;
    height: 100%;
}

.left_side {
    width: 70%;
    margin-right: 30px;
}

.right_side {
    width: 35%;
}

.text {
    margin: 20px 0px 10px 0px;
}

.options_data {
    width: 100%;
    display: flex;
    flex-direction: column;

}

.data_ca_content {
    text-decoration: none;
}

.data_ca_content {
    display: flex;
    height: 10vw;
    border-radius: 10px;
    margin-bottom: 15px;
    align-items: center;
    padding: 0px 20px;
}

.data_ca_content {
    background-color: var(--CA_color);
    border: 1px solid var(--CA_border);
}



.title_data_content_ca,
.percentage_content_ca,
.points_content_ca{
    display: flex;
    flex-direction: column;
    height: 6vw;
    border-radius: 5px;
    margin-right: 20px;
    align-items: center;
}

.title_data_content_ca,
.percentage_content_ca,
.points_content_ca {
    background-color: var(--CA_content);
    border: 1px solid var(--CA_content_border);
}

.title_data_content_ca {
    width: 100%;
    padding: 10px 20px;
}

.percentage_and_points {
    width: 100%;
    display: flex;
}

.percentage_content_ca,
.points_content_ca {
    width: 100%;
    display: flex;
    justify-content: center;
}

.title_data {
    font-size: 1.15vw;
    font-family: "SF Pro Semibold";
}

.title_data_content_ca,
.percentage_content_ca,
.points_content_ca {
    color: var(--CA_title);
}

.percentage_content,
.points_content {
    justify-content: center;
}

.percentage,
.points {
    font-size: 1.4vw;
    font-family: "SF Pro Semibold";
}

.complement {
    font-size: 0.8vw;
    color: var(--font_color);
}


.recent_points_container {
    width: 100%;
    height: 90%;
    background-color: var(--backgroud_color);
    border: 1px solid var(--border_color);
    border-radius: 10px;
    padding: 20px
}

.title_historic_points {
    margin-bottom: 25px;
    font-size: 1.3vw;
    font-family: "SF Pro Medium";
}

.historic_point {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    width: 100%;
    height: 3vw;
    border: 1px solid var(--border_color);
    border-radius: 6px;
    margin-bottom: 20px;
    background-color: var(--backgroud_color);
}

.name_point {
    margin-right: auto;
    display: flex;
    align-items: center;
    font-family: "SF Pro Semibold";
    font-size: 1.2vw;
    color: var(--font_color);
}

.arrow {
    margin-left: auto;
    display: flex;
    align-items: center;
    color: var(--font_color2);
}

.name_color {
    color: #01A4FD;
}

.data_ca_content,
.recent_points_container {
    transition: transform 0.3s ease, cursor 0.3s ease, background-color 0.5s ease;
    font-family: 'SF Pro';
}

.data_ca_content {
    cursor: pointer;
}

.data_ca_content:hover,
.recent_points_container:hover {
    transform: scale(1.03);
}

.historic_point:hover {
    background-color: var(--historic_point_hover);
}

.data_ca_content:hover {
    background-color: var(--CA_hover);
}

.coleta_activity {
    display: flex;
    padding: 5px;
    width: 100%;
    align-items: center;
}

.icon_coleta {
    width: 17%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    aspect-ratio: 1 / 1;
}

.icon_salvo {
    background-color: var(--icon_alert); 
}

.imgs_coleta {
    width: 50%;
    height: 50%;
}

.data_coleta {
    font-size: 1.1vw;
}

.text_coleta {
    margin-left: 10px;
    font-family: "SF Pro Semibold";
    font-size: 1.2vw;
    color: var(--font_color);
    width: 90%;
}

.dias_coleta {
    margin-top: 3px;
    font-size: 1vw;
    font-family: "SF Pro Light";
}

.linha_coleta {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5% 0%;;
}

.hr_coleta {
    width: 80%;
}


@media (max-width: 1180px) {
    .main_content {
        flex-direction: column;
    }

    .left_side,
    .right_side {
        width: 100%;
    }

    .recent_points_container {
        display: flex;
        flex-direction: column;
    }

    .historic_points_container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .historic_point {
        width: 75%;
        margin-bottom: 10px;
    }

    .title_historic_points,
    .title,
    .text {
        font-size: calc(1vw + 0.5em);
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #303030;
}

.close {
    cursor: pointer;
    margin-left: 95%;
    margin-top: -3%;
    font-size: x-large;
    font-weight: normal;
    background-color: var(--backgroud_color);
    color: var(--font_color);
    border: none;
}

.modalContent {
    background: var(--backgroud_color);
    color: var(--font_color);
    padding: 3%;
    border-radius: 10px;
    width: 40%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pointName {
    margin-top: 5%;
    margin-bottom: 10%;
    font-size: larger;
    text-align: center;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 100%;
}

.information {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: large;
    font-weight: bold;
    border: 1px solid var(--border_color);
    border-radius: 10px;
    margin-top: 5%;
    margin-bottom: 10%;
    height: 40%;
    width: 40%;
}

.separator {
    border-left: 1px solid var(--border_color);
    height: 55%;
    margin-top: 7%;
}

@media (max-width: 980px) {
    .modalContent {
        width: 50%;
        height: 50vw;
    }
}

@media (max-width: 680px) {
    .container {
        margin: 10px 20px;
    }

    .data_ca_content {
        height: 35vw;
        display: flex;
        flex-direction: column;
        padding: 0px;
        width: 100%;
    }

    .title_data_content_ca {
        height: 40%;
        width: 90%;
        margin: 10px;
    }

    .percentage_and_points {
        width: 90%;
        justify-content: space-between;
        height: 40%;
        margin-bottom: 10px;
    }

   .percentage_content_ca, .points_content_ca {
        width: 48%;
        height: 100%;
        margin: 0px;
    }

    .title_data {
        font-size: 3.5vw;
    }

    .percentage,
    .points {
        font-size: 4vw;
    }

    .complement {
        font-size: 2.5vw;
    }

    .recent_points_container {
        height: 300px;
        display: flex;
        justify-content: start;
        align-items: start;
        width: 100%;
    }

    .historic_points_container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .historic_point {
        width: 90%;
        height: 35px;
    }

    .title,
    .text {
        font-size: 3.5vw;
    }

    .title_historic_points {
        font-size: 3.5vw;
    }

    .modalContent {
        width: 80%;
        height: 70vw;
    }

    .pointName {
        margin-top: 3%;
        margin-bottom: 0%;
        font-size: 15px;
    }

    .mainModal {
        display: flex;
        flex-direction: row;
    }

    .infoContainer,
    .information {
        width: 50%;
    }

    h3 {
        font-size: 15px
    }

    .close {
        margin-left: 90%;
        margin-top: 0%;
    }

    .name_point {
        font-size: 3vw;
    }
}