/* manipula o modal de dados individuais */
main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.container {
    margin: 20px;
    width: 100%;
}

.title, .title_filter{
    font-family: 'SF Pro Medium';
    font-size: 1.4vw;
    color: var(--font_color);
}

.title {
    margin-bottom: 15px;
}

.title_filter {
    text-align: end;
}

.content_buttons {
    width: 100%;
    justify-content: space-between;
    display: flex;
    height: 100px;
    align-items: center;
}

.filtrosContainer{
    width: 50%;
}

.filterContainer {
    display: flex;
    justify-content: flex-end;
    padding: 0 10px;
}

.limpar{
    background-color: red;
}

.filtrar{
    background-color: #01A4FD;
}

.filtrar, 
.limpar {
    padding: 10px;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    height: 50%; 
    display: flex;
    justify-content: center;
    align-items: center; 
}

.filtrar:hover {
    background-color: var(--PB_title);
}

.buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 60%; 
    margin-left: 28%;
}

.dropdownContainer {
    display: flex;
    gap: 1.5em;
    width: 100%;
}

.colects {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #303030;
}

.modalContent {
    font-family: 'SF Pro Semibold';
    font-size: 1rem;
    background: var(--backgroud_color);
    color: var(--font_color);
    padding: 3%;
    border-radius: 10px;
    width: 40%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.close {
    cursor: pointer;
    font-size: x-large;
    border: none;
    background-color: white;
    margin-left: 105%;
    margin-top: -6%;
}

.pointName {
    text-align: center;
    font-size: 1.4vw;
}

.pontoSelecionado{
    color: #01A4FD;
}

.carousel {
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
}


.carousel_button {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    cursor: pointer;
    border: none;
    background-color: white;
    transition: opacity 0.3s;
}
  
.carousel_button:disabled {          
    cursor: auto;        
}

.carousel_button_invisible,
.separator_invisible {
    opacity: 0; 
    background-color: transparent; 
    visibility: visible;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 80%;
  }

.type{

}

.info{
    border-radius: 5px;
    border: 1px solid var(--border_color);
    padding: 15px;
    font-size: 17px;
    margin-top: 10%;
}

.separator {
    border-left: 1px solid var(--border_color);
    height: 55%;
}  

@media (max-width: 1080px) {

}

@media (max-width: 980px) {
    .buttons, .infoContainer {
        width: 80%;
    }
    .modalContent {
        width: 70%;
    }
    .info {
        font-size: 1rem;
    }
}

@media (max-width: 680px) {

    .title, .title_filter{
        font-family: 'SF Pro Medium';
        font-size: 14px;
        display: flex;
        color: var(--font_color);
    }

    .content_buttons {
        width: 100%;
        display: flex;
        height: 100px;
        align-items: center;
    }

    .filterContainer{
        display: flex;
        width: 20%;
    }

    .buttons {
        width: 100%;
        margin-left: 19%;
        justify-content: center;
    }
    .dropdownContainer, .filterContainer {
        justify-content: center;
    }
    .infoContainer {
        width: 90%;
    }
    .modalContent {
        width: 90%;
    }
    .information {
        width: 90%;
        height: auto;
    }
    
    .modalContent {
        /* background-color: blue; */
        width: 50%;
        height: 70%;
    }
    
    .close {
        padding-right: 10px;
    }
    
    .pointName {
        font-size: 16px;
    }
    
    .carousel {
        display: flex;
        flex-direction: column;
    }
    
    
    .carousel_button {
        display: inline; 
        flex-direction: row;
        align-self: flex-end;
        background-color: gray;
    }
    
    .infoContainer {
        background-color: aquamarine;
      }
    
    .type{
        background-color: black; 
    }
    
    .info{
        background-color: purple;
        margin-top: 10px;
    }

    .separator {
        border-top: 1px solid var(--border_color);
        height: 1px; 
        width: 35%;
    }
}