.container {
    margin: 20px;
    width: 100%;
}

.content_buttons {
    width: 100%;
    display: flex;
    height: 15%;
    justify-content: end;
    align-items: center;
}

.title, .title_filter{
    font-family: 'SF Pro Medium';
    font-size: 1.4vw;
    color: var(--font_color);
}

.title {
    margin-bottom: 15px;
}

.title_filter {
    text-align: end;
    margin-right: 5%;
}

.buttons {
    display: flex;
    justify-content: end;
    height: 50%;
    width: 60%;
    margin-left: 20px;
}

.dropdownContainer {
    display: flex;
    gap: 1.5em;
    width: 100%;
    justify-content: end;
}

.filtrar {
    padding: 10px 7%;
    background-color: var(--NA_title);
    border: none;
    color: var(--backgroud_color);
    border-radius: 5px;
    cursor: pointer;
}

.filtrar:hover {
    background-color: var(--PB_title);
}



@media (max-width: 600px) {
    .buttons {
        margin-left: 0;
    }

    .dropdownContainer {
        gap: 0.5em;
    }

    .title {
        font-family: 'SF Pro Medium';
        font-size: 1.2rem;
    }
}

@media (min-width: 601px) {
    .dropdownContainer {
        flex-direction: row;
        justify-content: center;
    }
}

.colects {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.coleta {
    background-color: var(--backgroud_color);
    border: 1px solid var(--border_color);
    border-radius: 7px;
    margin-bottom: 1rem;
    cursor: pointer;
}

.date {
    font-family: 'SF Pro Medium';
    font-size: 1rem;
}

.details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #303030;
}

.close {
    cursor: pointer;
    margin-left: 95%;
    margin-top: -3%;
    font-size: x-large;
    font-weight: normal;
    background-color: var(--backgroud_color);
    color: var(--font_color);
    border: none;
}

.modalContent {
    font-family: 'SF Pro Semibold';
    font-size: 1rem;
    background: var(--backgroud_color);
    color: var(--font_color);
    padding: 3%;
    border-radius: 10px;
    width: 40%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {
    .modalContent {
        width: 65%;
        height: 70%;
    }
}

@media (max-width: 900px) {
    .modalContent {
        width: 50%;
        height: 60%;
    }
}

@media (max-width: 700px) {
    .modalContent {
        width: 60%;
        height: 60%;
    }
}


.pointName {
    margin-top: 5%;
    margin-bottom: 10%;
    text-align: center;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 80%;
}

.information {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'SF Pro Semibold';
    font-size: 1rem;
    border: 1px solid var(--border_color);
    border-radius: 10px;
    margin-top: 5%;
    margin-bottom: 10%;
    height: 60%;
    width: 40%;
}

.separator {
    border-left: 1px solid var(--border_color);
    height: 55%;
    margin-top: 7%;
}

@media (max-width: 500px) {
    .information {
        width: 35%;
        height: 55%;
    }

    main {
        font-size: 0.8rem;
        flex-direction: column;
        align-items: center;
    }

    .separator {
        display: block;
        width: 50%;
        height: 1px;
        background-color: #ccc;
        margin: 1rem 0;
    }
}