/* Login.css */
.container {
    display: flex;
    height: 100vh;
  }
  
  .left-side, .right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .left-side {
    background-color: white;
    width: 40%;
  }

  .content-left-side {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  h1 {
    margin-bottom: 7px;
  }
  
  .right-side {
    background: linear-gradient(to right, #00A4FD, #A1DFDB);
    color: white;
    width: 60%;
  }

  .right-side img{
    width: 95%;
  }

  .content-names-sector {
    display: flex;
    text-align: end;
  }

  .content-img {
    display: flex;
    justify-content: flex-end;
    margin-right: 2%;
  }
  
  .login-button {
    margin-top: 20px;
    width: 250px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #01A4FD;
    color: white;
    cursor: pointer;
    font-size: 16px;
  }
  
  .login-button:hover {
    background-color: #0056b3;
  }
  