.modal {
    z-index: 101;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #303030;
}

.close {
    z-index: 99;
    cursor: pointer;
    margin-left: 95%;
    margin-top: -3%;
    font-size: x-large;
    font-weight: normal;
    background-color: var(--backgroud_color);
    color: var(--font_color);
    border: none;
}

.modalContent {
    z-index: 99;
    background: var(--backgroud_color);
    padding: 3%;
    border-radius: 10px;
    width: 30%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'SF Pro Medium';
}

.modalTitle,
.modalImg,
.modalText {
    z-index: 99;
    text-align: center;
    margin-bottom: 5%;
}

.modalTitle {
    color: var(--font_color);
    font-family: 'SF Pro Medium';
    font-size: 1.1rem;
}

.modalText {
    color: var(--font_color2);
    font-family: 'SF Pro Medium';
    font-size: 1rem;
}

@media (max-width: 600px) {
    .modalContent {
        width: 78%;
        height: auto;
    }

    .modalTitle,
    .modalImg,
    .modalText {
        text-align: center;
        margin-top: 8%;
    }

    .modalText {
        font-size: medium;
        margin-bottom: 10%;
    }

}

@media (min-width: 1500px) {
    .modalContent {
        width: 35%;
        height: auto;
    }

    .modalTitle,
    .modalImg,
    .modalText {
        text-align: center;
        font-size: x-large;
        margin-top: 8%;
    }

    .modalText {
        font-size: larger;
        margin-bottom: 10%;
    }
}