.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.title {
    padding: 20px 50px 0px;
    font-size: 1.4vw;
    font-family: "SF Pro Medium";
}

.main_information {
    display: flex;
    width: 100%;
    height: 100%;
}

.left_side {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 20px 15px 0px 50px;
}

.select_point_container {
    width: 100%;
    height: 40vw;
    background-color: white;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    padding: 25px 30px;
    transition: transform 0.3s ease, cursor 0.3s ease;
}

.select_point_title {
    margin-bottom: 10px;
    font-size: 1.4vw;
    font-family: "SF Pro Medium";
}

.select_point_grid {
    display: flex;
    flex-direction: column;
    height: 90%;
}

.select_point {
    width: 100%;
    flex-grow: 1;
    margin-top: 10px;
    background-color: white;
    border: 1px solid #dcdcdc;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    transition: transform 0.3s ease, cursor 0.3s ease;
    cursor: pointer;
}

.name_point {
    font-size: 1.3vw;
    font-family: "SF Pro Semibold";
}

.name_point_type {
    color: #419E98
}

.status_point {
    font-family: "SF Pro Light";
    font-size: 1.05vw;
    color: #949494;
}

.right_side {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 20px 50px 0px 15px;
}

.point_information {
    display: flex;
    width: 100%;
    height: 10%;
    background-color: white;
    border: 1px solid #dcdcdc;
    align-items: center;
    text-align: center;
    border-radius: 7px;
    justify-content: center;
}

.point_information_text {
    font-size: 1.2vw;
}

.point_information_number {
    font-weight: bold;
    color: #D543CB;
}

.map_container {
    background-color: white;
    width: 100%;
    height: 79%;
    margin-top: 30px;
    border: 1px solid #dcdcdc;
    border-radius: 7px;
    padding: 20px 30px;
}

.map_title {
    font-size: 1.4vw;
    font-family: "SF Pro Semibold";
}

.select_point:hover {
    background-color: rgb(233, 233, 233);
}

.select_point_container:hover {
    transform: scale(1.02);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #303030;
}

.close {
    cursor: pointer;
    margin-left: 95%;
    margin-top: -3%;
    font-size: x-large;
    font-weight: normal;
    background-color: #fff;
    color: #cccccc;
    border: none;
}

.modalContent {
    background: white;
    padding: 3%;
    border-radius: 10px;
    width: 40%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infoContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 100%;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: large;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 5%;
    height: 50%;
    width: 40%;
}

.separator {
    border-left: 1px solid #ccc;
    height: 55%;
    margin-top: 7%;
}

.buttonEnviar {
    width: 40%;
    height: 15%;
    background-color: #01A4FD;
    border: 1px solid #0095e6;
    color: white;
    border-radius: 7px;
    cursor: pointer;
}

.arrow {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    padding: 5px;
}

.information p {
    margin: 0 10px;
    font-size: 1.2em;
}

.pointName {
    font-size: 1.7vw;
}


.type {
    font-size: 1.8vw;
    font-family: "SF Pro Medium";
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    border: none;
    font-size: 2vw;
    width: 50%;
}

.buttonEnviar:hover {
    background-color: #0079bb;
}

@media (max-width: 1080px) {
    .title {
        font-size: calc(1.4vw + 0.5em);
    }

    .main_information {
        flex-direction: column;
        align-items: center;
    }

    .left_side, .right_side {
        padding: 15px;
        width: 80%;
    }

    .point_information {
        width: 100%;
        height: 90px;
    }

    .select_point_container {
        height: 45vw;
    }

    .point_information_text {
        font-size: 14px;
    }

    .modalContent {
        width: 45%;
    }
} 

@media (max-width: 680px) {
    .main_information {
        width: 100%;
    }

    .left_side, .right_side {
        width: 100%;
    }

    .select_point_container {
        height: 90vw;
    }

    .title {
        padding: 10px;
        font-size: 15px;
    }

    .point_information_text {
        font-size: 13px;
    }

    .modalContent {
        width: 80%;
        height: 350px;
    }

    .pointName, .type {
        font-size: 3.5vw;
    }

    .information {
        width: 60%;
        height: 110px;
    }

    input[type="number"] {
        font-size: 5.5vw;
        text-align: center;
    }

    .buttonEnviar {
        width: 60%;
        height: auto;
        padding: 10px;
        font-size: 4vw;
    }

    .close {
        margin-left: 90%;
        font-size: 1.5rem;
    }
}