.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.title {
    padding: 20px 50px 0px;
    font-size: 1.4vw;
    font-family: "SF Pro Medium";
    color: var(--font_color);
}

.main_information {
    display: flex;
    width: 100%;
    height: 100%;
}

.left_side {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 20px 15px 0px 50px;
}

.select_point_container {
    width: 100%;
    height: 40vw;
    background-color: var(--backgroud_color);
    border: 1px solid var( --border_color);
    border-radius: 10px;
    padding: 25px 30px;
    transition: transform 0.3s ease, cursor 0.3s ease;
}

.select_point_title {
    margin-bottom: 10px;
    font-size: 1.4vw;
    font-family: "SF Pro Medium";
    color: var(--font_color);
}

.select_point_grid {
    display: flex;
    flex-direction: column;
    height: 90%;
}

.select_point {
    width: 100%;
    flex-grow: 1;
    margin-top: 10px;
    color: var(--font_color);
    background-color: var(--backgroud_color);
    border: 1px solid var( --border_color);
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0em 20px;
    transition: transform 0.3s ease, cursor 0.3s ease;
    cursor: pointer;
}

.select_point.preenchido {
    background-color: var(--font_color3); 
}

.select_point.naoPreenchido {
    background-color: var(--font_color4);
}

.pagination_buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
}

.arrow {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    padding: 5px;
    margin: 0 10px;
    color: var(--font_color3);
    justify-content: space-between;
    transition: color 0.5s ease;
}

.disabled {
    cursor: not-allowed;
    opacity: 50%;
}

.name_point {
    font-size: 1.15vw;
    font-family: "SF Pro Semibold";
}

.name_point_type {
    color: #419E98
}

.status_point {
    font-family: "SF Pro Light";
    font-size: 1.05vw;
    color: var(--font_color2);
}

.right_side {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 20px 50px 0px 15px;
}

.point_information {
    display: flex;
    width: 100%;
    height: 10%;
    color: var(--font_color);
    background-color: var(--backgroud_color);
    border: 1px solid var( --border_color);
    align-items: center;
    text-align: center;
    border-radius: 7px;
    justify-content: center;
}

.point_information_text {
    font-size: 1.2vw;
}

.point_information_number {
    font-weight: bold;
    color: #D543CB;
}

.map_container {
    background-color: var(--backgroud_color);
    width: 100%;
    height: 65%;
    margin-top: 30px;
    border: 1px solid var( --border_color);
    color: var(--font_color);
    border-radius: 7px;
    padding: 20px 20px;
}

.map_title {
    font-size: 1.4vw;
    font-family: "SF Pro Semibold";
}

.map{
    margin-top: 2%;
    height: 90%;
    width: 100%;
}

.select_point:hover {
    background-color: var(--historic_point_hover);
}

.select_point_container:hover {
    transform: scale(1.02);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #303030;
}

.close {
    cursor: pointer;
    margin-left: 95%;
    margin-top: -3%;
    font-size: x-large;
    font-weight: normal;
    background-color: var(--backgroud_color);
    color: var(--font_color);
    border: none;
}

.modalContent {
    background: var(--backgroud_color);
    color: var(--font_color);
    padding: 3%;
    border-radius: 10px;
    width: 40%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5%;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.infoGrid {
    display: flex;
    width: 100%;
    height: 80%;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.infoContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 100%;
}

.arrow_modal {
    color: var(--font_color3);
    background-color: transparent; 
    border: none;
    padding: 0.3rem 0.8rem;
    font-size: 1.7vw;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -150px;
}

.arrow_modal:disabled {
    color: rgba(0, 0, 0, 0.3);
    cursor: auto;
}

.arrow_modal:hover:not(:disabled) {
    color: var(--font_color2); 
    transform: scale(1.1); 
}

.button_container_modal {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    border: 1px solid var( --border_color);
    border-radius: 10px;
    margin-top: 5%;
    height: 70%;
    width: 50%;
}


.separator {
    border-left: 1px solid var( --border_color);
    height: 55%;
    margin-top: 7%;
}

.buttonEnviar {
    width: 35%;
    height: 15%;
    margin-top: 6%;
    background-color: #01A4FD;
    border: 1px solid #0095e6;
    color: white;
    border-radius: 7px;
    cursor: pointer;
}

.arrow {
    color: var(--font_color2);
    background-color: transparent; 
    border: none;
    padding: 0.3rem 0.8rem;
    font-size: 2vw;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow:disabled {
    color: rgba(0, 0, 0, 0.3);
    cursor: auto;
}

.arrow:hover:not(:disabled) {
    color: var(--font_color2); 
    transform: scale(1.1); 
}

.information p {
    margin: 0 10px;
    font-size: 1.2em;
}

.pointName {
    font-size: 1.7vw;
}


.type {
    font-size: 1.5vw;
    font-family: "SF Pro Medium";
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    border: none;
    font-size: 2vw;
    background-color: var(--backgroud_color);
    color: var(--font_color);
    width: 50%;
}

.buttonEnviar:hover, .button_complete:hover {
    background-color: #0079bb;
}

.button_container {
    width: 100%;
    height: 10%;
    margin-top: 30px;
    display: flex;
    justify-content: end;
}

.button_complete {
    width: 45%;
    height: 80%;
    background-color: #01A4FD;
    border: none;
    border-radius: 7px;
    color: white;
    cursor: pointer;
}

.error {
    color: red;
    font-size: 1.2vw;
    margin-bottom: 15px
}

.disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.text_numbers {
    display: flex;
    margin: 20% 0px;
    align-items: center;
    text-align: center;
    justify-content: center;
}


@media (max-width: 1080px) {
    .title {
        font-size: calc(1.4vw + 0.3em);
    }

    .main_information {
        flex-direction: column;
        align-items: center;
    }

    .left_side, .right_side {
        padding: 15px;
        width: 90%;
    }

    .point_information {
        width: 100%;
        height: 90px;
    }

    .select_point_container {
        height: 55vw;
    }

    .point_information_text {
        font-size: 14px;
    }

    .modalContent {
        width: 45%;
    }

    .name_point {
        font-size: calc(1.3vw + 0.2em);
    }

    .pointName {
        font-size: calc(1.7vw + 0.3em);
    }

    .type {
        font-size: calc(1.5vw + 0.3em);
    }

    .status_point {
        font-size: calc(1.05vw + 0.2em);
    }

    .select_point_title, .map_title {
        font-size: calc(1.4vw + 0.2em);
    }

    .button_container {
        height: 15vh;
        margin-top: 30px;
        display: flex;
        justify-content: end;
    }
    
    .button_complete {
        width: 45%;
        height: 80%;
        background-color: #01A4FD;
        border: none;
        border-radius: 7px;
        color: white;
        cursor: pointer;
    }

    .arrow {
     padding: 0.5rem 0.5rem;
     font-size: 2.5vw;
    }

    .arrow_modal {
        border: none;
        padding: 0.3rem 0.8rem;
        font-size: 2vw;
        margin-top: -50%;
    }

    .information {
        width: 60%;
        height: 65%;
    }

    .buttonEnviar {
        margin-top: 0px;
        height: 12%;
    }

    input[type="number"] {
        font-size: calc(2vw + 0.5em);
    }

    .modalContent {
        width: 45%;
    }
    
}

@media (max-width: 865px) {
    .pointName {
        font-size: calc(1.7vw + 0.3em);
    }

    .type {
        font-size: calc(1.5vw + 0.3em);
    }

    input[type="number"] {
        font-size: calc(2.5vw + 0.3em);
    }
    
    .modalContent {
        width: 65%;
    }

    .arrow_modal {
        font-size: 3vw;
    }
}

@media (max-width: 750px) {
    .modalContent {
        width: 65%;
    }

    .arrow_modal {
        font-size: 3vw;
    }

    .information {
        width: 55%;
        height: 55%;
    }

    input[type="number"] {
        font-size: calc(2.5vw + 0.8em);
    }

}

@media (max-width: 680px) {
    .main_information {
        width: 100%;
    }

    .left_side, .right_side {
        width: 100%;
    }

    .select_point_container {
        height: 90vw;
    }

    .title {
        padding: 10px;
        font-size: calc(1.4vw + 0.8em);
    }

    .select_point_title, .map_title {
        font-size: calc(1.4vw + 0.5em);
    }

    .name_point {
        font-size: calc(1.3vw + 0.5em);
    }

    .status_point {
        font-size: calc(1.05vw + 0.5em);
    }

    .point_information_text {
        font-size: 13px;
    }

    .modalContent {
        width: 90%;
        height: 40%;
    }

    .pointName {
        font-size: calc(1.7vw + 0.8em);
    }

    .type {
        font-size: calc(1.5vw + 1em);
    }

    .information {
        width: 55%;
        height: 65%;
    }

    input[type="number"] {
        font-size: 5.5vw;
        text-align: center;
    }

    .buttonEnviar {
        width: 40%;
        height: 15%;
        padding: 10px;
        font-size: 3vw;
    }

    .close {
        margin-top: 3px;
        margin-left: 90%;
        font-size: 1.5rem;
    }

    .arrow {
        padding: 0.8rem 0.8rem;
        font-size: 4.5vw;
    }

    .infoContainer {
        height: 90%;
    }

    .buttonEnviar {
        margin-top: 0px;
    }

    .arrow {
        padding: 5px;
    }

    .arrow_modal {
        padding: 0.3rem 0.3rem;
        font-size: 4vw;
        margin-top: -60%;
    }
}