.main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: block;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 94%;
    width: 94%;
}

.title {
    font-weight: normal;
    font-size: 1.3em;
    margin-left: 3%;
    margin-top: 3%;
    margin-bottom: 2%;
}

.map {
    width: 85%;
    height: 62%;
    margin-left: 7%;
    margin-bottom: 2%;
}

.captitle {
    font-weight: normal;
    font-size: 1.3em;
    margin-left: 3%;
    margin-bottom: 1.5%;
}

.caption {
    width: 85%;
    height: 40%;
    margin-left: 7%;
    margin-bottom: 3%;
}


.points {
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    font-weight: normal;
}

@media (max-width: 600px){
    .points{
        display: block;
        border: none;
    }

    .title, .captitle, .subtitle{
        font-size: small;
    }

}

.azulclaro, .verde, .azulescuro, .verdeagua, .roxo {
    margin-left: 2%;
    margin-top: 2%;
    height: 13px;
    width: 13px;
    border-radius: 2.5%;
}

.azulclaro{
    background-color: #00A4FD;
}

.verde {
    background-color: #37A264;
}

.azulescuro{
    background-color: #007BC0;
}

.verdeagua {
    background-color: #419E98;
}

.roxo{
    background-color: #791D73;
}

.subtitle{
    font-size: 0.8em;
    margin-left: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
}