.hamburgerMenuContainer {
  z-index: 100;
  height: 100%;
  margin-bottom: 33%;
}

.hamburgerIcon {
  background: none;
  border: none;
  cursor: pointer;
  width: 30px;
  transition: transform 0.3s ease;
  /* position: fixed; */
  left: 8%;
  z-index: 99; 
} 

.hamburgerIcon img{
  width: 100%;
  height: 100%;
}

.menu {
  position: fixed;
  top: 0;
  left: -250px; 
  width: 250px;
  height: 100%;
  background-color: var(--backgroud_color2);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  padding-top: 60px; 
  z-index: 100;
  overflow-y: auto;
}

.menu.open {
  left: 0; 
}

.menuList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.voltar{
  background: none;
  border: none;
  color: var(--font_color);
  width: 50%;
}

.container{
  margin-top: 10%;
}

.contentOptions {
  transition: color 0.3s ease;
}

.contentOptions:hover {
  color: #01A4FD;
}

.content_options{
  display: flex;
}

.pages{
  text-decoration: none;
  color: var(--font_color);
  margin-left: 9%;
}

.blue {
  height: 50px;
  width: 5px;
  margin-right: 30px;
  border-radius: 2px;
}

.content_options{
  display: flex;
  text-decoration: none;
  font-size: 15px;
  align-items: center;
  font-family: "SF Pro Light";
  color: var(--font_color);
}

.content_options img {
  height: 23px;
  width: 23px;
}

.content_options p{
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
}

.content_options:visited {
  color: inherit;
}

.title_side {
  font-size: 20px;
  font-family: "SF Pro regular";
}


.active .content_options {
  background-color: var(--background_color4);
  color: #01A4FD;
}

.active .blue {
  background-color: #01A4FD;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* fundo escuro com opacidade */
  z-index: 100;
  transition: opacity 0.5s ease;
}

@media (max-width: 680px) {
  .hamburgerIcon {
    display: flex;
    position: absolute;
  }

  .menu {
    left: -250px; 
  }

  .menu.open {
    left: 0; 
  }
}