.container {
    display: flex;
    flex-direction: column;
    background-color: var(--backgroud_color);
    height: 100%;
    border-right: 1px solid var(--border_color);
}

.logo {
    width: 50px;
    margin-right: 10px; 
}

.header_container {
    color: var(--font_color);
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
}

.options {
    margin: 0px;
    width: 100%;
}

.blue {
    height: 50px;
    width: 5px;
    margin-right: 45px;
    border-radius: 2px;
}

.content_options{
    display: flex;
    text-decoration: none;
    font-size: 15px;
    align-items: center;
    font-family: "SF Pro Light";
    color: var(--font_color);
}

.content_options img {
    height: 23px;
    width: 23px;
}

.content_options p{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    color: inherit;
}

.content_options:visited {
    color: inherit;
}

.title_side {
    font-size: 20px;
    font-family: "SF Pro regular";
}


.active .content_options {
    background-color: var(--backgroud_color);
    color: #01A4FD;
}

.active .blue {
    background-color: #01A4FD;
}

.showSidebar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 230px;
    height: 100%;
    z-index: 1000; 
    transition: transform 0.3s ease-in-out;
    transform: translateX(0);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.hideSidebar {
    transform: translateX(-100%);
}


@media (max-width: 680px) {
    .container {
        display: none; 
    }
}




