.dropdownContainer {
    position: relative;
    display: inline-block;
  }
  
  .button {
    width: 160px; /* Ajuste conforme necessário */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* Trunca texto longo */
    background-color: var(--backgroud_color);
    border: 1px solid var(--border_color);
    color: var( --font_color);
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
  }
  
  .arrow {
    display: inline-block;
    transition: transform 0.3s ease;
  }
  
  .arrowImage {
    width: 12px;
    height: 12px;
  }
  
  .options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 0;
    overflow-y: hidden;
    background-color: var(--backgroud_color);
    border: 1px solid var(--border_color);
    color: var(--font_color);
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
  }
  
  .open {
    max-height: 300px; /* Altura máxima do dropdown */
    overflow-y:auto; /* Adiciona rolagem vertical quando aberto */
    opacity: 1;
    visibility: visible;
  }
  
  .optionList {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .option {
    padding: 10px;
    cursor: pointer;
  }
  
  .option:hover,
  .option[aria-selected="true"] {
    background-color: var(--backgroud_color3);
  }
  
  .selected {
    font-weight: bold;
  }
  