.dropdownContainer {
    position: relative;
    margin-bottom: 1rem;
    flex-grow: 1;
}

.button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 40px;
    font-size: 1rem;
    padding: 0.5rem;
    background-color: var(--backgroud_color);
    color: var(--font_color);
    border: 1px solid var(--border_color);
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}

.arrow {
    transition: transform 0.3s;
}

.arrowImage {
    width: 16px;
    height: 16px;
}

.options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--backgroud_color3);
    border: 1px solid var(--border_color);
    color: var(--font_color);
    border-radius: 4px;
    max-height: 0;
    overflow-y: auto;
    z-index: 10;
    width: 100%;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease;
}

.open {
    max-height: 150px;
    opacity: 1;
}

.optionList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.option {
    padding: 0.5rem;
    cursor: pointer;
}

.option:hover {
    background-color: var(--historic_point_hover);
}

.selected {
    background-color: var(--historic_point_hover);
}

@media (max-width: 600px) {
    .button {
        font-size: 1.1rem;
        flex-direction: column;
        padding: 1.5rem;
        border-radius: 10px;
    }

    .arrow {
        margin-top: 40%;
        transform: rotate(90deg);
    }
}