.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.left_side,
.right_side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left_side {
    width: 60%;
}

.right_side {
    width: 40%;
}

.updates {
    display: flex;
    flex-direction: column;
    background-color: var(--backgroud_color);
    border: 1px solid var(--border_color);
    width: 97%;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
    height: 28%;
}

.title {
    font-size: 1.4vw;
    font-family: "SF Pro Medium";
    padding: 1.3vh;
    text-align: start;
    color: var(--font_color);
}

.content_updates {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    color: var(--font_color);
}

.first_update,
.second_update {
    border: 1px solid var(--border_color);
    border-radius: 7px;
    width: 48.5%;
    box-sizing: border-box;
    padding: 10px 10px 5px 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.point {
    font-size: 1.2vw;
}

.main_information {
    font-family: "SF Pro Semibold";
    font-size: 1.5vw;
}

.extra_information {
    display: flex;
    font-size: 0.8vw;
}

pre {
    font-family: "SF Pro Light";
}

.point,
.main_information,
.extra_information {
    padding: 3px;
}

.extra {
    color: #00A4FD;
    font-weight: bold;
}

.weekly_weather {
    display: flex;
    flex-direction: column;
    background-color: var(--backgroud_color);
    border: 1px solid var(--border_color);
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    width: 97%;
    height: 28%;
}

.last_activities {
    display: flex;
    flex-direction: column;
    background-color: var(--backgroud_color);
    border: 1px solid var(--border_color);
    width: 97%;
    border-radius: 10px;
    padding: 15px;
    height: 50%;
}

.title_more {
    display: flex;
    justify-content: space-between;
}

.more {
    font-size: 1.2vw;
    padding: 7.6px;
    text-decoration: none;
    color: var(--NA_title);
}

.more:hover {
    color: var(--PB_title);
}

.content_last_activities {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.activity {
    display: flex;
    padding: 5px;
    margin: 2vh 2vh;
}

.icon_activity {
    width: 6.3vh;
    height: 6.3vh;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}


.icon_correct {
    background-color: var(--icon_correct);
}

.icon_export {
    background-color: var(--icon_export);
}


.imgs_activity {
    width: 50%;
    height: 50%;
}

.data_activity {
    font-size: 1.2vw;
}

.text_activity {
    margin-left: 10px;
    font-family: "SF Pro Semibold";
    font-size: 1.2vw;
    color: var(--font_color);
}

.days {
    margin-top: 3px;
    font-size: 1vw;
    font-family: "SF Pro Light";
}


.gray {
    color: var(--font_color2);
}

.green {
    color: #45e475;
}


.linha_hr {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hr_dash {
    width: 80%;
}

.graphic {
    display: flex;
    flex-direction: column;
    background-color: var(--backgroud_color);
    border: 1px solid var(--border_color);
    width: 97%;
    border-radius: 10px;
    padding: 15px;
    height: auto;
}

.title_map{
    margin-bottom: 5%;
}

.mapview {
    color: var(--font_color);
    display: flex;
    flex-direction: column;
    background-color: var(--backgroud_color);
    border: 1px solid var(--border_color);
    width: 97.5%;
    height: 48%;
    border-radius: 10px;
    padding: 20px 20px 60px;
}

.map {
    height: 100%;
}

canvas{
    border-radius: 6px;
}


.updates,
.weekly_weather,
.last_activities,
.graphic,
.mapview {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.updates:hover,
.weekly_weather:hover,
.last_activities:hover,
.graphic:hover,
.mapview:hover {
    transform: scale(1.025);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.05);
}

hr {
    opacity: 30%;
}

.graphic_activity {
    display: flex;
    padding: 0 15px;
    gap: 15px;
}


@media (max-width: 1180px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0px;
        align-items: center;
    }

    .title {
        font-size: calc(1vw + 0.5em);
    }

    .point {
        font-size: 13px;
    }

    .main_information {
        font-size: 1.8vw;
    }

    .extra_information {
        font-size: 1vw;
    }

    .left_side,
    .right_side {
        width: 100%;
    }

    .left_side {
        margin-bottom: 15px;
    }

    .weekly_weather {
        height: 200px;
    }

    .content_weather {
        align-items: center;
        width: 100%;
        height: 100%;
        gap: 5px;
        justify-content: center;
        padding: 0px;
    }

    .weekday {
        min-width: 13vw;
        border-radius: 7px;
        box-sizing: border-box;
        height: 10vw;
    }

    .title_weekday {
        font-size: 1.5vw;
    }

    .temperature {
        font-size: 2vw;
    }

    .climate {
        font-size: 1.3vw;
    }

    .last_activities {
        height: 100%;
        margin-bottom: 15px;
    }

    .data_activity {
        font-size: calc(1.1vw + 0.5em);
    }

    .days {
        font-size: calc(1vw + 0.5em);
    }

    .mapview {
        height: 350px;
    }

    .more {
        font-size: calc(1vw + 0.3em);
    }

    .content_last_activities {
        display: flex;
        justify-content: space-between;
        height: 100%;
        padding: 2% 0%;;
    }

}

@media (max-width: 915px){
    .title {
        font-size: calc(1vw + 0.8em);
    }

    .point {
        font-size: 13px;
    }

    .main_information {
        font-size: 2.3vw;
    }

    .extra_information {
        font-size: 1.3vw;
    }

    .point {
        font-size: 1.8vw;
    }

    .data_activity {
        font-size: 2.1vw;
    }

    .icon_activity {
        width: 7vh;
        height: 7vh;
    }
}


@media (max-width: 680px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .title {
        font-size: calc(1.4vw + 1em);
    }

    .left_side,
    .right_side {
        width: 100%;
    }

    .updates,
    .weekly_weather,
    .graphic,
    .last_activities
    {
        width: 100%;
        background-color: var(--backgroud_color2);
        border: none;
    }

    .content_updates {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .point {
        font-size: 16px;
    }

    .main_information {
        font-size: 19px;
    }

    .extra_information {
        font-size: 13px;
    }

    .first_update,
    .second_update {
        width: 95%;
        background-color: var(--backgroud_color);
    }

    .first_update {
        margin-bottom: 15px;
    }

    .weekly_weather {
        overflow-x: auto;
    }

    .content_weather {
        display: inline-flex;
        white-space: nowrap;
        width: 88vw;
        overflow-x: auto;
        padding-bottom: 10px;
    }

    .weekday {
        min-width: 25vw;
        height: 100px;
        margin-right: 5px;
    }

    .temperature {
        font-size: 5vw;
    }

    .climate {
        font-size: 3vw;
    }

    .grafico {
        display: flex;
        flex-direction: column;
        background-color: var(--backgroud_color);
        border: 1px solid var(--border_color);
        width: 95%;
        border-radius: 10px;
        padding: 15px;
        margin-bottom: 15px;
    }


    .content_last_activities {
        display: flex;
        flex-direction: column;
        background-color: var(--backgroud_color);
        border: 1px solid var(--border_color);
        width: 95%;
        border-radius: 10px;
        padding: 5% 2%;
        margin-bottom: 5px;
        height: auto;
    }

    .activity {
        margin-bottom: 15px;
    }


    .icon_activity {
        width: 11vw;
        height: 11vw;
    }

    .data_activity {
        font-size: calc(1.9vw + 1.5em);
    }

    .days {
        font-size: calc(1.5vw + 1.5em);
    }

    .mapview {
        height: 70%;
        width: 93%;
    }

    .more {
        font-size: calc(1vw + 0.6em);
        margin-right: 5%;
    }

}