.container {
    width: 100%;
    height:100%;
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

.left_side, .right_side {
    display: flex;
    flex-direction: column;
}

.left_side { width: 50%; }
.right_side { width: 50%; }


.updates {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #eaeaea;
    width: 95%;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
}

.title {
    font-size: 1.4vw;
    font-family: "SF Pro Medium";
    padding: 1.3vh;
}

.content_updates { 
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.first_update, .second_update {
    border: 1px solid #eaeaea;
    border-radius: 7px;
    width: 48.5%;
    box-sizing: border-box;
    padding: 10px 10px 5px 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.point {
    font-size: 1.2vw;
}

.main_information {
    font-family: "SF Pro Semibold";
    font-size: 1.5vw;
}

.extra_information {
    display: flex;
    font-size: 0.8vw;
}

pre {
    font-family: "SF Pro Light";
}

.point, .main_information, .extra_information {
    padding: 3px;
}

.extra {
  color: #00A4FD;
  font-weight: bold;
}

.weekly_weather {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #eaeaea;
    width: 95%;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
}

.content_weather { 
    display: inline-flex;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
    gap: 5px;
    justify-content: center;
}

.weekday {
    min-width: 6.5vw;
    min-height: 6vw;
    border: 1px solid #eaeaea;
    border-radius: 7px;
    box-sizing: border-box;
    height: 12vh;
}

.seg, .ter, .qua, .qui, .sex {
    width: 100%;
    height: 100%;
    border-radius: 7px;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.seg { background-color: #D543CB; }
.ter { background-color: #00A4FD; }
.qua { background-color: #419E98; }
.qui { background-color: #37A264; }
.sex { background-color: #007BC0; }

.title_weekday {
    font-size: 1vw;
    font-family: "SF Pro Regular";
}

.temperature {
    font-family: "SF Pro Semibold";
    padding: 5px 0px;
    font-size: 1.5vw;
}

.climate {
    font-size: 0.8vw;
    text-align: end;
    align-self: flex-end;
    font-family: "SF Pro Light";
}

.last_activities {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #eaeaea;
    width: 95%;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
}

.content_last_activities {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.activity {
    display: flex;
    padding: 5px;
    margin: 2vh 2vh;
}

.icon_activity {
    width: 6.3vh;
    height: 6.3vh;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}


.icon_correct { background-color: #DEF5F3; }
.icon_export { background-color: #F7EEF6; }


.imgs_activity {
    width: 50%;
    height: 50%;
}

.text_activity {
    margin-left: 10px;
    font-family: "SF Pro Semibold";
    font-size: 1.2vw;
}

h4 {
    font-size: 2vh;
}

.days {
    margin-top: 3px;
    font-size: 1.8vh;
    font-family: "SF Pro Light";
}


.gray {
    color: #8d8d8d;
}

.green {
    color: #45e475;
}


.linha_hr {
    display: flex;
    align-items: center;
    justify-content: center;
}

hr {
    width: 70%;
}

.graphic {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #eaeaea;
    width: 95%;
    border-radius: 10px;
    padding: 15px;
}

.mapview {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #eaeaea;
    width: 95%;
    height: 43.8%;
    border-radius: 10px;
    padding: 15px;
}

@media (max-width: 1180px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0px;
        align-items: center;
    }
    .point { font-size: 13px; }
    .main_information { font-size: 1.8vw; }
    .extra_information { font-size: 1vw; }

    .left_side, .right_side { width: 100%; }
    .left_side { margin-bottom: 15px; }
    .weekly_weather { height: 200px;}

    .content_weather { 
        align-items: center;
        width: 100%;
        height: 100%;
        gap: 5px;
        justify-content: center;
    }
    
    .weekday {
        min-width: 13vw;
        border: 1px solid #eaeaea;
        border-radius: 7px;
        box-sizing: border-box;
        height: 10vw;
    }

    .title_weekday { font-size: 1.5vw; }
    .temperature { font-size: 2vw; }
    .climate { font-size: 1.3vw; }

}

@media (max-width: 680px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .left_side, .right_side { width: 100%;}

    .updates, .weekly_weather, .graphic, .last_activities, .mapview {
        width: 100%;
        background-color: #F9F9F9;
        border: none;
    }

    .content_updates {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .point { font-size: 16px; }
    .main_information { font-size: 19px; }
    .extra_information { font-size: 13px; }

    .first_update, .second_update {
        width: 95%;
        background-color: white;
    }

    .first_update { margin-bottom: 15px; }
    .weekly_weather { overflow-x: auto; }

    .content_weather {
        display: inline-flex;
        white-space: nowrap;
        width: 88vw;
    }

    .weekday {
        min-width: 25vw;
        height: 100px;
    }

    .title_weekday { font-size: 3.5vw; }
    .temperature { font-size: 5vw; }
    .climate { font-size: 3vw; }

    .grafico {
        display: flex;
        flex-direction: column;
        background-color: white;
        border: 1px solid #eaeaea;
        width: 95%;
        border-radius: 10px;
        padding: 15px;
        margin-bottom: 15px;
    }

    .content_last_activities {
        display: flex;
        flex-direction: column;
        background-color: white;
        border: 1px solid #eaeaea;
        width: 95%;
        border-radius: 10px;
        padding: 5px;
        margin-bottom: 5px;
    }

    h4 {
        font-size: 14px;
    }

    .icon_activity {
        width: 13vw;
        height: 11vw;
    }

    .days {
        font-size: 12px;
    }
}
