*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'SF Pro';
  src: url('/fonts/ios.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Bold';
  src: url('/fonts/ios-bold.OTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Semibold';
  src: url('/fonts/ios-semibold.OTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'SF Pro', sans-serif;
}