*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'SF Pro Light';
  src: url('/fonts/SF-Pro-Regular') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Regular';
  src: url('/fonts/SF-Pro-Light') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Semibold';
  src: url('/fonts/SF-Pro-Semibold') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Medium';
  src: url('/fonts/SF-Pro-Medium') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'SF Pro Regular', sans-serif;
}