.grid_container {
    display: grid;
    height: 100vh;

    grid-template-columns: 230px 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas: 
        'Sidebar Navbar'
        'Sidebar Main'
    ;
}

header{
    grid-area: Navbar;
    
}

aside{
  grid-area: Sidebar;
}

main{
  grid-area: Main;
}

@media (max-width: 680px) {
  .grid_container {
      grid-template-columns: 1fr;
      grid-template-rows: 50px 1fr;
      grid-template-areas:
          'Navbar'
          'Main';
  }

  aside {
    display: none;
  }
}
