
.coleta {
  height: auto;
  width: 95%;
  background-color: var(--backgroud_color);
  padding: 1rem;
  border: 1px solid var(--border_color);
  color: var(--font_color);
  border-radius: 7px;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  overflow: hidden;
}

.title {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.date {
  margin-left: 1%;
  font-family: 'SF Pro Medium';
  font-size: 1.3vw;
}

.separator {
  width: 1px;
  background-color: #ccc;
  height: 2em;
  margin: 0 1rem;
}

.description {
  color: #c2c2c2;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: "SF Pro Light";
}

.details {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 1%;
  margin-top: 4%;
  margin-left: 5%;
  gap: 0.5%;
}

.detailContainer {
  flex-grow: 1;
  flex-basis: calc(33.33% - 1%);
  margin-bottom: 4%;
}

.detailButton {
  padding: 1%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  font-size: medium;
  background-color: var(--backgroud_color);
  border: 1px solid var(--border_color);
  border-radius: 10px;
  cursor: pointer;
  height: 100%;
  width: 80%;
  margin-top: 2%;
}

@media (max-width: 1000px) {
  .detailContainer {
    flex-basis: 100%;
    margin-bottom: 2%;
  }

  .detailButton {
    width: 100%;
    font-size: large;
  }

  .details {
    margin-left: 0;
  }

  .date{
    font-family: 'SF Pro Medium';
    font-size: 1rem;
  }
}

.label {
  font-size: 1rem;
  color: #01A4FD;
  margin-left: 6%;
  margin-right: 2%;
  font-family: "SF Pro Regular";
}

.number {
  font-size: 1rem;
  color: var(--font_color);
  margin-right: 20%;
}

.viewButton {
  color: var(--font_color2);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
  font-size: small;
  background: none;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.arrow {
  font-family: "SF Pro Regular";
}


@media (max-width: 1150px) {
  .viewButton{
    margin-left: -15%;
  }
}
