.coleta {
  height: auto;
  width: auto;
  background-color: #fff;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  overflow: hidden;
}

.title {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.date {
  font-size: 1rem;
}

.separator {
  width: 1px;
  background-color: #ccc;
  height: 2em;
  margin: 0 1rem;
}

.description {
  color: #949494;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.details {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 1%;
  margin-top: 4%;
  margin-left: 5%;
  gap: 0.5%;
}

.detailContainer {
  flex-grow: 1;
  flex-basis: calc(33.33% - 1%);
  margin-bottom: 4%;
}

.detailButton {
  padding: 1%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  font-size: medium;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  height: 100%;
  width: 80%;
  margin-top: 2%;
}

@media (max-width: 600px) {
  .detailContainer {
    flex-basis: 100%;
    margin-bottom: 2%;
  }

  .detailButton {
    width: 100%;
    font-size: large;
  }

  .details {
    margin-left: 0;
  }
}

.label {
  color: #01A4FD;
  margin-left: 5%;
  margin-right: 5%;
}

.number {
  color: #000;
  margin-right: 20%;
}

.viewButton {
  color: #949494;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  font-size: small;
  background: none;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

@media (max-width: 600px) {
  .viewButton{
    font-size: medium;
  }
}